# Get amino-acid mutations in clade founders

In [2]:
# input files
clade_founder_nts_csv = "../results/clade_founder_nts/clade_founder_nts.csv"

In [1]:
import Bio.SeqIO

import pandas as pd

In [9]:
clade_founder_seqs = (
    pd.read_csv(clade_founder_nts_csv)
    .assign(gene=lambda x: x["gene"].str.split(";"))
    .explode("gene")
    .sort_values(["clade", "gene", "site"])
    .groupby(["clade", "gene"], as_index=False)
    .aggregate(gene_seq=pd.NamedAgg("nt", lambda s: "".join(s)))
)

clade_founder_seqs

    clade   gene                                           gene_seq
0     19A      E  ATGTACTCATTCGTTTCGGAAGAGACAGGTACGTTAATAGTTAATA...
1     19A      M  ATGGCAGATTCCAACGGTACTATTACCGTTGAAGAGCTTAAAAAGC...
2     19A      N  ATGTCTGATAATGGACCCCAAAATCAGCGAAATGCACCCCGCATTA...
3     19A  ORF10  ATGGGCTATATAAACGTTTTCGCTTTTCCGTTTACGATATATAGTC...
4     19A  ORF1a  ATGGAGAGCCTTGTCCCTGGTTTCAACGAGAAAACACACGTCCAAC...
..    ...    ...                                                ...
223   22C   ORF6  ATGTTTCATCTCGTTGACTTTCAGGTTACTATAGCAGAGATATTAC...
224   22C  ORF7a  ATGAAAATTATTCTTTTCTTGGCACTGATAACACTCGCTACTTGTG...
225   22C  ORF7b  ATGATTGAACTTTCATTAATTGACTTCTATTTGTGCTTTTTAGCCT...
226   22C   ORF8  ATGAAATTTCTTGTTTTCTTAGGAATCATCACAACTGTAGCTGCAT...
227   22C      S  ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...

[228 rows x 3 columns]